<?xml version="1.0"?>
<robot name="simple_box">
  <link name="base_footprint">
    <visual>
      <geometry>
        <sphere radius="0.01"/>
      </geometry>
    </visual>
  </link>
  
  <joint name="base_footprint_to_base_link" type="fixed">
    <origin xyz="0 0 0.1"/>
    <parent link="base_footprint"/>
    <child link="base_link"/>
  </joint>
  
  <link name="base_link">

  <!-- Arrow Body (Blue Rectangle) -->
  <visual>
    <geometry>
      <box size="0.2 0.05 0.05"/>
    </geometry>
    <origin xyz="0.1 0 0" />
    <material name="blue">
      <color rgba="0 0 1 1"/>
    </material>
  </visual>

  <!-- Top Slant (Red) -->
  <visual>
    <geometry>
      <box size="0.1 0.01 0.05"/>
    </geometry>
    <origin xyz="0.25 0.015 0" rpy="0 0 -0.7854"/>  <!-- -45° -->
    <material name="red">
      <color rgba="1 0 0 1"/>
    </material>
  </visual>

  <!-- Bottom Slant (Red) -->
  <visual>
    <geometry>
      <box size="0.1 0.01 0.05"/>
    </geometry>
    <origin xyz="0.25 -0.015 0" rpy="0 0 0.7854"/>  <!-- +45° -->
    <material name="red"/>
  </visual>

  <!-- Collision geometry (simple box) -->
  <collision>
    <geometry>
      <box size="0.3 0.05 0.05"/>
    </geometry>
    <origin xyz="0.15 0 0"/>
  </collision>

  <inertial>
    <mass value="1.0"/>
    <inertia ixx="0.1" ixy="0.0" ixz="0.0"
             iyy="0.1" iyz="0.0"
             izz="0.1"/>
  </inertial>

</link>


  <link name="gps">
    <visual>
      <geometry>
        <sphere radius="0.03"/>
      </geometry>
      <material name="yellow">
        <color rgba="1 1 0 1"/>
      </material>
    </visual>
  </link>

  <joint name="base_link_to_gps_link" type="fixed">
    <parent link="base_link"/>
    <child link="gps"/>
    <origin xyz="0 0 0.2" rpy="0 0 0"/>
  </joint>
</robot>
